/* Grid.module.css */
.gridContainer {
  padding: 9px;
  padding-left: 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 columns with equal width */
  grid-template-rows: repeat(4, 1fr);
  /* 4 rows with equal height */
  gap: 10px;
  /* Spacing between grid items */
}

.gridItem {
  display: flex;
  border-radius: var(--border-radius);
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.item1 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 2;
}

.item2 {
  grid-column: 4 / span 1;
  grid-row: 3 / span 2;
}

.item3 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}

.item3_container {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: start;
}

.item3_container .recordItem {
  background-color: white;
  padding: 10px;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 27px;
  max-width: 250px;
  width: 100%;
  outline: 2px solid #F5F5F5;
}

.item3_container .recordItem .recordItem_icon {
  background-color: #A7A7A7;
  height: 50px;
  padding: 10px;
  border-radius: var(--border-radius);
}

.item3_container .recordItem:first-child .recordItem_icon img {
  transform: translateY(-4px);
}

.item3_container .recordItem .recordItem_icon img {
  height: 100%;
  width: 100%;
}

.item4 {
  grid-column: 3 / span 1;
  grid-row: 3 / span 2;
}

.item5 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
}

.item5 span {
  height: 480px;
}

.item5 span img {
  height: 100%;
  width: 100%;
}

.item6 {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.item6>span img {
  border-right: 2px solid black;
  padding-right: 20px;
}

.item6 span:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item6 span:nth-child(2) .list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.item6 span:nth-child(2) .list .bulletp {
  border-radius: 50%;
  height: 15px;
  width: 15px;
}